body{
	background: #150000;
	color: #888;
	font-size: 12pt;
	margin: 0px;
}
.container{
	background: #100;
	height: 100vh;
}
a{
	color: #300;
	transition: 2s all;
}
a:hover{
	color: #f00;
	text-decoration: none;
}
hr{
	border-color: #222;
}

#game, #completed{
	background: #001800;
}

#game{
	height: 100vh;
}
canvas{
	background: #002;
	display: block;
	margin: 0px auto;
}
#canvasWrapper{
	background: #00001a;
}

#completed{
	display: none;
}
